main {
    gap: 20px;
}

#cards {
    gap: 50px;
    margin-top: 1%;
    height: 5%;
    margin-bottom: 5%;
}

.card {
    height: 200px ;
}

.card-img-top {
    border-radius: 16px;
    min-height: 196px;
}