#logoImage {
    mix-blend-mode: multiply;
    width: 180px;
    height: 200px;
}

#searchBar {
    width: 1200px;
}

#createSpaceText {
    color: #1A6EED;
    text-decoration: underline;
}

#divisionLine {
    width: 1200px;
    justify-self: center;
    align-self: center;
}

#cardsContainer {
    left
}